<!DOCTYPE html>
<html>
	<head>
		<title>Buildbarn Browser</title>
		<link href="{{asset_path "favicon.png"}}" rel="shortcut icon">
		<link href="{{asset_path "bootstrap.min.css"}}" rel="stylesheet">
		<link href="{{asset_path "terminal.css"}}" rel="stylesheet">
		<script src="{{asset_path "jquery.js"}}"></script>
		<script src="{{asset_path "bootstrap.min.js"}}"></script>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-{{.}}">
			<div class="container-fluid">
				<span class="navbar-brand">Buildbarn Browser</span>
			</div>
		</nav>

		<div class="mx-5 mb-5">
