{{template "header.html" "secondary"}}

<h1 class="my-4">Command</h1>

{{template "view_command.html" .}}

<h2 class="my-4">Output files</h1>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Mode</th>
			<th scope="col">Size</th>
			<th scope="col" style="width: 100%">Filename</th>
		</tr>
	</thead>
	{{range .Command.OutputPaths}}
		<tr class="font-monospace">
			<td></td>
			<td></td>
			<td style="width: 100%; word-break: break-all">{{.}}</td>
		</tr>
	{{end}}
</table>

{{template "footer.html"}}
