{{template "header.html" "secondary"}}

<h1 class="my-4">Command</h1>

{{template "view_command.html" .}}

<h2 class="my-4">Output files</h1>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Mode</th>
			<th scope="col">Size</th>
			<th scope="col" style="width: 100%">Filename</th>
		</tr>
	</thead>
	{{range .OutputDirectories}}
		<tr class="text-monospace">
			<td>drwxr‑xr‑x</td>
			<td></td>
			<td style="width: 100%">{{.}}/</td>
		</tr>
	{{end}}
	{{range .OutputFiles}}
		<tr class="text-monospace">
			<td>‑rw‑r‑‑r‑‑</td>
			<td></td>
			<td style="width: 100%">{{.}}</td>
		</tr>
	{{end}}
</table>

{{template "footer.html"}}
