{{if and .Started .Started.BuildFinished}}
	{{if eq .Started.BuildFinished.Payload.ExitCode.Code 0}}
		{{template "header.html" "success"}}
	{{else}}
		{{template "header.html" "danger"}}
	{{end}}
{{else}}
	{{template "header.html" "secondary"}}
{{end}}

<h1 class="my-4">Build events</h1>

{{with .Started}}

<table class="table" style="table-layout: fixed">
	<tr>
		<th style="width: 25%">Invocation ID:</th>
		<td class="text-monospace" style="width: 75%">{{.Payload.Uuid}}</td>
	</tr>
	<tr>
		<th style="width: 25%">Start time:</th>
		<td style="width: 75%">{{.Payload.StartTimeMillis | timestamp_millis_rfc3339}}</td>
	</tr>
	<tr>
		<th style="width: 25%">Build tool version:</th>
		<td style="width: 75%">{{.Payload.BuildToolVersion}}</td>
	</tr>
	<tr>
		<th style="width: 25%">Command:</th>
		<td style="width: 75%">{{.Payload.Command}}</td>
	</tr>
	<tr>
		<th style="width: 25%">Workspace directory:</th>
		<td class="text-monospace" style="width: 75%">{{.Payload.WorkspaceDirectory}}</td>
	</tr>
	<tr>
		<th style="width: 25%">Working directory:</th>
		<td class="text-monospace" style="width: 75%">{{.Payload.WorkingDirectory}}</td>
	</tr>
	<tr>
		<th style="width: 25%">Server PID:</th>
		<td style="width: 75%">{{.Payload.ServerPid}}</td>
	</tr>
</table>

{{$collapseID := 0}}

{{$startedNode := .}}
{{range .Patterns}}
	<h2 class="my-4">Targets {{.ID.Pattern}}</h2>

	<div class="accordion">
		{{range .TargetsConfigured}}
			<div class="card">
				<div class="
					bg-{{if .IsSuccess}}success{{else}}{{if .IsFailure}}danger{{else}}secondary{{end}}{{end}}
					card-header py-2 text-white" data-toggle="collapse" data-target="#collapse-{{$collapseID}}" style="cursor: pointer">
					{{.ID.Label}} {{with .Success}}({{.Payload.TargetKind}}){{end}}
				</div>
				<div id="collapse-{{$collapseID}}" class="collapse">
					<div class="card-body">
						{{with .Success}}
							{{with .TargetCompleted}}
								{{with .Success}}
									{{range .Payload.OutputGroup}}
										{{$files := $startedNode.GetFilesForNamedSets .FileSets}}
										{{if $files}}
											<h3 class="mb-4 mt-2">Output group "{{.Name}}"</h3>
											<table class="m-0 table">
												<thead>
													<tr>
														<th scope="col">Size</th>
														<th scope="col" style="width: 100%">Filename</th>
													</tr>
												</thead>
												{{range $files}}
													<tr class="text-monospace">
														{{$digest := . | build_event_file_to_digest}}
														{{if $digest}}
															<td style="text-align: right">{{$digest.GetSizeBytes}}</td>
															<td style="width: 100%"><a href="/file/{{$digest.GetInstance}}/{{$digest.GetHashString}}/{{$digest.GetSizeBytes}}/{{.Name | basename}}">{{.Name}}</a></td>
														{{else}}
															<td></td>
															<td style="width: 100%">{{.Name}}</td>
														{{end}}
													</tr>
												{{end}}
											</table>
										{{end}}
									{{end}}
									{{with .TestSummary}}
										<h3 class="mb-4 mt-2">Test summary</h3>
										{{if .Success}}
											<table class="table" style="table-layout: fixed">
												<tr>
													<th style="width: 25%">Overall status:</th>
													<td style="width: 75%">
														<span class="badge badge-{{if .IsSuccess}}success{{else}}{{if .IsFailure}}danger{{else}}secondary{{end}}{{end}}">
															{{.Success.Payload.OverallStatus}}
														</span>
													</td>
												</tr>
												{{with .Success.Payload.Passed}}
													<tr>
														<th style="width: 25%">Passed tests:</th>
														<td style="width: 75%">
															{{$index := 1}}
															{{range .}}
																{{$digest := . | build_event_file_to_digest}}
																{{if $digest}}
																	<a href="/file/{{$digest.GetInstance}}/{{$digest.GetHashString}}/{{$digest.GetSizeBytes}}/test.log">{{$index}}</a>
																{{else}}
																	{{$index}}
																{{end}}
																{{$index = inc $index}}
															{{end}}
														</td>
													</tr>
												{{end}}
												{{with .Success.Payload.Failed}}
													<tr>
														<th style="width: 25%">Failed tests:</th>
														<td style="width: 75%">
															{{$index := 1}}
															{{range .}}
																{{$digest := . | build_event_file_to_digest}}
																{{if $digest}}
																	<a href="/file/{{$digest.GetInstance}}/{{$digest.GetHashString}}/{{$digest.GetSizeBytes}}/test.log">{{$index}}</a>
																{{else}}
																	{{$index}}
																{{end}}
																{{$index = inc $index}}
															{{end}}
														</td>
													</tr>
												{{end}}
											</table>
										{{else}}
											This test was not run, because its execution was aborted
											with reason
											<span class="badge badge-{{if .IsSuccess}}success{{else}}{{if .IsFailure}}danger{{else}}secondary{{end}}{{end}}">{{.Aborted.Payload.Reason}}</span>.
											{{.Aborted.Payload.Description}}
										{{end}}
									{{end}}
								{{else}}
									This target was not completed, because its execution
									was aborted with reason
									<span class="badge badge-{{if .IsSuccess}}success{{else}}{{if .IsFailure}}danger{{else}}secondary{{end}}{{end}}">{{.Aborted.Payload.Reason}}</span>.
									{{.Aborted.Payload.Description}}
								{{end}}
							{{else}}
								This target has not been completed yet.
							{{end}}
						{{else}}
							No information about this target exists, because its
							configuration was aborted with reason
							<span class="badge badge-{{if .IsSuccess}}success{{else}}{{if .IsFailure}}danger{{else}}secondary{{end}}{{end}}">{{.Aborted.Payload.Reason}}</span>.
							{{.Aborted.Payload.Description}}
						{{end}}
					</div>
				</div>
				{{$collapseID = inc $collapseID}}
			</div>
		{{end}}
	</div>
{{end}}

{{else}}

Build has not been started?

{{end}}

{{template "footer.html"}}
