{{if .}}
	<tr>
		<th style="width: 25%">{{.Name}}{{with .Digest}}<sup><a class="text-decoration-none" href="../../file/{{.GetHashString}}-{{.GetSizeBytes}}/log.txt">*</a></sup>{{end}}:</th>
		<td class="width: 75%">
			{{if .NotFound}}
				The log file for this action could not be found.
			{{else if .TooLarge}}
				The {{with .Digest}}<a href="../../file/{{.GetHashString}}-{{.GetSizeBytes}}/log.txt">log file</a> for this action is too large to display ({{.GetSizeBytes}} bytes{{end}}).
			{{else}}
				<div class="term-container">{{.HTML}}</div>
			{{end}}
		</td>
	</tr>
{{end}}
