<table class="table">
	<thead>
		<tr>
			<th scope="col">Mode</th>
			<th scope="col">Size</th>
			<th scope="col" style="width: 100%">Filename</th>
		</tr>
	</thead>
	{{range .Directory.Directories}}
		<tr class="font-monospace">
			<td class="text-nowrap">drwxr-xr-x</td>
			<td class="text-end">{{.Digest.SizeBytes}}</td>
			<td style="width: 100%"><a href="../../directory/{{.Digest.Hash}}-{{.Digest.SizeBytes}}/">{{.Name}}</a>/</td>
		</tr>
	{{end}}
	{{range .Directory.Symlinks}}
		<tr class="font-monospace">
			<td>lrwxrwxrwx</td>
			<td></td>
			<td style="width: 100%">{{.Name}} -&gt; <span style="word-break: break-all">{{.Target}}</span></td>
		</tr>
	{{end}}
	{{range .Directory.Files}}
		<tr class="font-monospace">
			<td class="text-nowrap">-r-{{if .IsExecutable}}x{{else}}-{{end}}r-{{if .IsExecutable}}x{{else}}-{{end}}r-{{if .IsExecutable}}x{{else}}-{{end}}</td>
			<td class="text-end">{{.Digest.SizeBytes}}</td>
			<td style="width: 100%"><a href="../../file/{{.Digest.Hash}}-{{.Digest.SizeBytes}}/{{.Name}}">{{.Name}}</a></td>
		</tr>
	{{end}}
</table>

<a class="btn btn-primary" href="javascript:navigator.clipboard.writeText(&quot;{{.BBClientdPath | js}}&quot;)" role="button">Copy bb_clientd path to clipboard</a>

<a class="btn btn-primary" href="../../directory/{{.Digest.GetHashString}}-{{.Digest.GetSizeBytes}}/?format=tar" role="button">Download as tarball</a>
