name: master
on:
  push:
    branches:
    - master
jobs:
  build_and_test:
    runs-on: ubuntu-latest
    container: docker://l.gcr.io/google/bazel:2.1.0
    steps:
    - name: Check out source code
      uses: actions/checkout@v1

    - name: Buildifier
      run: bazel run @com_github_bazelbuild_buildtools//:buildifier
    - name: Gazelle
      run: bazel run //:gazelle
    - name: Gofmt
      run: bazel run @go_sdk//:bin/gofmt -- -s -w .
    - name: Clang format
      run: find . -name '*.proto' -exec bazel run @llvm_toolchain//:bin/clang-format -- -i {} +
    - name: Test style conformance
      run: git diff --exit-code HEAD --
    - name: Golint
      run: bazel run @org_golang_x_lint//golint -- -set_exit_status $(pwd)/...
    - name: Check for ineffective assignments
      run: bazel run @com_github_gordonklaus_ineffassign//:ineffassign $(pwd)

    - name: Linux build
      run: bazel build --platforms=@io_bazel_rules_go//go/toolchain:linux_amd64 //...
    - name: Upload bb_browser for Linux
      uses: actions/upload-artifact@v2-preview
      with:
        name: bb_browser.linux_amd64
        path: bazel-bin/cmd/bb_browser/linux_amd64_pure_stripped/bb_browser

    - name: macOS build
      run: bazel build --platforms=@io_bazel_rules_go//go/toolchain:darwin_amd64 //...
    - name: Upload bb_browser for macOS
      uses: actions/upload-artifact@v2-preview
      with:
        name: bb_browser.darwin_amd64
        path: bazel-bin/cmd/bb_browser/darwin_amd64_pure_stripped/bb_browser

    - name: FreeBSD build
      run: bazel build --platforms=@io_bazel_rules_go//go/toolchain:freebsd_amd64 //cmd/bb_browser
    - name: Upload bb_browser for FreeBSD
      uses: actions/upload-artifact@v2-preview
      with:
        name: bb_browser.freebsd_amd64
        path: bazel-bin/cmd/bb_browser/freebsd_amd64_pure_stripped/bb_browser

    - name: Install Docker credentials
      run: mkdir ~/.docker && echo "${DOCKER_CONFIG_JSON}" > ~/.docker/config.json
      env:
        DOCKER_CONFIG_JSON: ${{ secrets.DOCKER_CONFIG_JSON }}
    - name: Push container bb-browser
      run: bazel run //cmd/bb_browser:bb_browser_container_push
